@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/thumbs";

body {
  font-family: "Goudy Old Style", "Goudy", serif;
  font-weight: bold;
  background-color: #231916;
  height: 100%;
  margin: 0 auto;
}
